.AboutImagePic1{
    height:100%;
    width:100%;
}

.AboutImagePic2{
    height:70%;
    width:100%;
}

.Detail-Sec h3{
 width: 90%;
}
.aboutbottomSec{
    text-align: justify !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.paragraph-details{
 width:90%;

}

.aboutbottomSec h3{
    width: 90%;
}
.aboutDetail-sec{
    text-align: justify !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.Detail-Sec{

    text-align: justify !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}








