.story-hero {
    
  background-image: url('../../Images/backgroundblue.jpg'); /* relative to public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  }
  .storyTitle{
    color:var(--theme-light);
  }
  .story-btn {
    background-color:var(--theme-color);
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
  }
  
  .explore-btn {
    border: 2px solid var(--theme-light) !important;
    padding: 10px 25px;
    border-radius: 30px;

    border-radius: 30px !important;
    color: var(--theme-light) !important;
  }
  .explore-btn:hover {
    border: 2px solid var(--theme-light) !important;
    /* padding: 10px 25px; */
    
    border-radius: 30px;
    background-color: var(--theme-light) !important;
    color:white !important;
  }
  
  .hero-bg-shape {
    position: absolute;
    /* background-color:var(--theme-color); */
    width: 350px;
    height: 350px;
    border-radius: 50% 50% 0 0;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  
  .story-img {
    position: relative;
    z-index: 1;
    max-height: 100%;
    width: 100%;
  }
  
  .recipe-card {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--theme-color);
    border-radius: 12px;
    padding: 8px 12px;
    z-index: 2;
  }
  
  .recipe-img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
  }
  